@tailwind base;
@tailwind components;
@tailwind utilities;
.main{
  margin-bottom: 100vh;
}

.container{
  position: relative;
  height: 300vh;
  background-color: rgb(255, 255, 255);
}

.stickyMask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('../public/mask.svg');
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}